@import url("middle.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
* {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #101939;
}

.container {
    width: 100%;
}

.container::after {
    content: "";
    clear: both;
}

.left {
    float: left;
    background-color: #101939;
    width: 20%;
}

.list-item {
    text-align: center;
}

.list-item ul {
    margin: 0 20px;
}

.list-item a {
    background-color: #ffffff;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
}

.main {
    /* background-color: #EFF3F9; */
    background-color: #FFFFFF;
    float: left;
    width: 60%;
    padding: 0 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.right {
    height: 100vh;
    float: left;
    width: 20%;
    padding: 20px;
    background-color: #101939;
    text-align: center;
}

.logo img {
    position: relative;
    display: block;
    width: 80px;
    margin: 30px 0;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style-type: none;
    width: 100%;
}

.list-item {
    margin-top: 20px;
}

.list-item a {
    margin-bottom: 10px;
    padding: 8px;
    display: block;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    background-color: #101939;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

.list-item a:hover {
    font-weight: bold;
    background-color: #ffffff;
    color: #101939;
    transition: .8s;
    word-spacing: 6px;
}

.list-item a:active {
    position: relative;
    top: 5px;
    color: #ffffff;
    background-color: #101939;
    transition: none;
}

.bottom {
    text-align: center;
    padding: 20px;
    background-color: #101939;
    border: 1px solid #ffffff;
}

.heading {
    margin: 36px 0;
}

.heading h1 {
    font-weight: bold;
    font-size: 36px;
}

.profile {
    overflow: hidden;
    margin: 20px auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile img {
    position: relative;
    width: 100%;
    width: 100px;
    height: 100px;
}

.featured-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5625;
    margin-bottom: 15px;
    margin: 10px 0;
}

.content-post {
    margin: 10px 0;
    align-items: center;
}

.content-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 20px 60px;
}

.content-image-2 {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.content-post h2 {
    font-size: 2rem;
    font-weight: 600;
}

.content-post h3 {
    font-size: 26px;
    margin: 10px 0;
}

.bio {
    display: block;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    color: #101939;
}

.profile-desc {
    padding: 10px;
}

.bio p {
    margin-top: 10px;
}

footer {
    background-color: #101939;
}

.end {
    width: 60%;
    border: 1px solid #ffffff;
    margin: 10px auto;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
}

@media only screen and (max-width:900px) {
    /* For mobile phones: */
    .left,
    .main,
    .right {
        width: 100%;
        height: auto;
    }
    body {
        background-color: #101939;
    }
    .content {
        margin: 0;
    }
    .logo img,
    .list-item {
        margin: 10px auto;
    }
    .profile {
        margin: 10px auto;
    }
    .end {
        width: 90%;
    }
    .content-image {
        padding: 10px;
    }
}